.terms
  .terms__link
    .link
      = link_to "プライバシーポリシー", "#", class: "privacy-policy"
      = link_to "メルカリ利用規約", "#", class: "service"
      = link_to "特定商取引に関する表記", "#", class: "business"
    .logo 
      .logo__footer
        %a{href: "#"}
          = image_tag "logo_gray.svg", class: "logo__footer__link"
      %h3 © Mercari, Inc.