.wrapper-complite
  = render "devise/registrations/header1"
  .form
    .form__top
      会員登録完了
    .form__bottom
      .form__bottom__center
        .form__bottom__center__text
          %h3 ありがとうございます。
          %h3 会員登録が完了しました。
        = link_to "#", style: "text-decoration: none;" do
          %button.form__bottom__center__start-btn{type: "submit"}
            %h3 メルカリをはじめる
  = render "sign_up_footer"