.registrations-header
  .registrations-header__contents
    %a{href: "#"}
      = image_tag "fmarket_logo_red.svg", class: "registrations-header__contents__logo"
    .header-right
      .list-movement
        .user-info
          .text
            会員情報
          .dot
        .phone-number-info
          .text
            電話番号認証
          .dot
        .address-info
          .text
            お届先住所入力
          .dot
        .payment-info
          .text
            支払い方法
          .dot
        .complite
          .text
            完了
          .dot
      .list-movement-border