.wrapper-registration
  = render "header"

  .form
    .form__top
      会員情報入力
    .form__bottom
      .form__bottom__text-box
        .nickname-box
          .nickname-box__topic
            ニックネーム
            %h6 必須
          .nickname-box__field
            %input{name: "nickname", placeholder: "ニックネーム", type: "name", class: "nickname"}
        .email-box
          .email-box__topic
            email
            %h6 必須
          .email-box__field
            %input{name: "email", placeholder: "メールアドレス", type: "email", class: "email"}
        .password-box
          .password-box__topic
            パスワード
            %h6 必須
          .password-box__field
            %input{name: "password", placeholder: "パスワード", type: "password", class: "password"}
        
      .form__bottom__btn


  = render "layouts/sign_up/sign_up_footer"