<div class="main-top">
  <div class="advertisemens">
      <div class="advertisement">
        <a href="#">
          <img class="scroll-advertisement" src="https://i.gyazo.com/9192b15b3c92a30aff8772d5b0b12d43.png">

        </a>
      </div>
  </div>
    
  <div class="nav">
    <h2 class="popularity-category">人気のカテゴリー</h2>
    <div class="categories">
      <a class="women button" href="#women">レディース</a>
      <a class="men button" href="#men">メンズ</a>
      <a class="appliance button" href="#appliance">家電・スマホ・カメラ</a>
      <a class="toy button" href="#toy">おもちゃ・ホビー・グッズ</a>
    </div>
  </div>
  <div class="items-holders" >
    <div class="category-name" id="women">
      <h3 class="item-title-women">レディース新着アイテム</h3>
      <a class="see-more" href="#">もっと見る＞</a>
    </div>
      
    <div class="holder">
      <div class="items-images">
        <ul class="images">
          <li class="image">
            <div class="product">
                <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
            </div>
          </li>
          <li class="image">
            <div class="product">
                <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
            </div>
          </li>
          <li class="image">
            <div class="product">         
                <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
            </div>
          </li>
          <li class="image">
            <div class="product">
                <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
            </div>
          </li>
          <li class="image">
            <div class="product">
                <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
            </div>
          </li>
          <li class="image">
            <div class="product">
                <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  
  

      <div class="category-name" id="men">
        <h3 class="item-title-men">メンズ新着アイテム</h3>
        <a class="see-more" href="#">もっと見る＞</a>
      </div>
        
      <div class="holder">
        <div class="items-images">
          <ul class="images">
            <li class="image">
              <div class="product">
                  <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
              </div>
            </li>
            <li class="image">
              <div class="product">
                  <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
              </div>
            </li>
            <li class="image">
              <div class="product">
                  <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
              </div>
            </li>
            <li class="image">
              <div class="product">
                  <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
              </div>
            </li>
            <li class="image">
              <div class="product">
                  <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
              </div>
            </li>
            <li class="image">
              <div class="product">
                  <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
  


  
      <div class="category-name" id="appliance">
        <h3 class="item-title-appliance">家電・スマホ・カメラ新着アイテム</h3>
        <a class="see-more" href="#">もっと見る＞</a>
      </div>
        
      <div class="holder">
        <div class="items-images">
          <ul class="images">
            <li class="image">
              <div class="product">
                  <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
              </div>
            </li>
            <li class="image">
              <div class="product">
                  <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
              </div>
            </li>
            <li class="image">
              <div class="product">
                  <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
              </div>
            </li>
            <li class="image">
              <div class="product">
                  <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
              </div>
            </li>
            <li class="image">
              <div class="product">
                  <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
              </div>
            </li>
            <li class="image">
              <div class="product">
                  <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
  


  
      <div class="category-name" id="toy">
        <h3 class="item-title-toy">おもちゃ・ホビー・グッズ新着アイテム</h3>
        <a class="see-more" href="#">もっと見る＞</a>
      </div>
        
      <div class="holder">
        <div class="items-images">
          <ul class="images">
            <li class="image">
              <div class="product">
                  <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
              </div>
            </li>
            <li class="image">
              <div class="product">
                  <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
              </div>
            </li>
            <li class="image">
              <div class="product">
                  <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
              </div>
            </li>
            <li class="image">
              <div class="product">
                  <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
              </div>
            </li>
            <li class="image">
              <div class="product">
                  <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
              </div>
            </li>
            <li class="image">
              <div class="product">
                  <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
  </div>


  <div class="nav">
    <h2 class="popularity-category">人気のブランド</h2>
    <div class="categories">
      <a class="women button" href="#chanel">シャネル</a>
      <a class="men button" href="#louisvuitton">ルイヴィトン</a>
      <a class="appliance button" href="#supreme">シュプリーム</a>
      <a class="toy button" href="#nike">ナイキ</a>
    </div>
  </div>

  <div class="items-holders" >
      <div class="category-name" id="chanel">
        <h3 class="item-title-chanel">シャネル新着アイテム</h3>
        <a class="see-more" href="#">もっと見る＞</a>
      </div>
        
      <div class="holder">
        <div class="items-images">
          <ul class="images">
            <li class="image">
              <div class="product">
                  <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
              </div>
            </li>
            <li class="image">
              <div class="product">
                  <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
              </div>
            </li>
            <li class="image">
              <div class="product">
                  <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
              </div>
            </li>
            <li class="image">
              <div class="product">
                  <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
              </div>
            </li>
            <li class="image">
              <div class="product">
                  <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
              </div>
            </li>
            <li class="image">
              <div class="product">
                  <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
  

  
      <div class="category-name" id="louisvuitton">
        <h3 class="item-title-louisvuitton">ルイヴィトン新着アイテム</h3>
        <a class="see-more" href="#">もっと見る＞</a>
      </div>
        
      <div class="holder">
        <div class="items-images">
          <ul class="images">
            <li class="image">
              <div class="product">
                  <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
              </div>
            </li>
            <li class="image">
              <div class="product">
                  <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
              </div>
            </li>
            <li class="image">
              <div class="product">
                  <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
              </div>
            </li>
            <li class="image">
              <div class="product">
                  <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
              </div>
            </li>
            <li class="image">
              <div class="product">
                  <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
              </div>
            </li>
            <li class="image">
              <div class="product">
                  <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
  

  
      <div class="category-name" id="supreme">
        <h3 class="item-title-supreme">シュプリーム新着アイテム</h3>
        <a class="see-more" href="#">もっと見る＞</a>
      </div>
        
      <div class="holder">
        <div class="items-images">
          <ul class="images">
            <li class="image">
              <div class="product">
                  <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
              </div>
            </li>
            <li class="image">
              <div class="product">
                  <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
              </div>
            </li>
            <li class="image">
              <div class="product">
                  <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
              </div>
            </li>
            <li class="image">
              <div class="product">
                  <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
              </div>
            </li>
            <li class="image">
              <div class="product">
                  <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
              </div>
            </li>
            <li class="image">
              <div class="product">
                  <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
  

  
      <div class="category-name" id="nike">
        <h3 class="item-title-nike">ナイキ新着アイテム</h3>
        <a class="see-more" href="#">もっと見る＞</a>
      </div>
        
      <div class="holder">
        <div class="items-images">
          <ul class="images">
            <li class="image">
              <div class="product">
                  <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
              </div>
            </li>
            <li class="image">
              <div class="product">
                  <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
              </div>
            </li>
            <li class="image">
              <div class="product">
                  <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
              </div>
            </li>
            <li class="image">
              <div class="product">
                  <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
              </div>
            </li>
            <li class="image">
              <div class="product">
                  <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
              </div>
            </li>
            <li class="image">
              <div class="product">
                  <a class="product-image" href="#"><img src="https://i.gyazo.com/24c90d8f2c47ea1477b92f8869da4f0d.png" alt="商品写真"></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
  </div>
</div>