.item {
  background-color : $whitesmoke;
  .item-chapter-container{
    font-size: 22px;
    padding: 32px 16px;
    text-align: center;
    border-bottom: solid 2px $whitesmoke;
    font-weight: bold;
  }
  .item-content {
    width: 700px;
    background-color: $white;
    margin: 10px auto;
  }
  .item-image-upload {
    padding: 40px;
    border-bottom-style:solid;
    border-bottom-color: $light_grey2;
    border-width:1px;
  }
  .item-image-upload-character {
    background-color: $white;
    font-size: 16px;
    display: inline-block;
    font-weight: bold;
  }

  label {
    font-weight: bold;
  }

.item-sell-clearfix-box-wrap {
  margin: 8px 0 0 0;
}

.item-sell-clearfix-box-money1 {
  margin-top: 40px;
}

  .item-image-upload-require {
    color: $white;
    background-color: $red;
    position: relative;
    font-size: 12px;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    font-weight: bold;
  }
  .brand_color{
    background-color: #cccccc;
  }
  p {
    font-size: 14px;
    margin: 8px 0 0 0;
  }
  input{
    font-size: 14px;
    text-align: center;
    opacity:1;
    position: relative;
    outline: 0;
  }
  .item-image-drop {
    height: 150px;
    width: 620px;
    font-size: 14px;
    background-color: $whitesmoke;
    border-style:dashed;
    border-color: $grey;
    margin-top: 16px;
    border-width:1px;
    text-align: center;
    position: relative;
    cursor: pointer;
    p{
      size: 140px;
      top: 40px;
    }
  }
  .item-image-drop-default {
    display: none;
  }
  .item-sell {
    padding: 40px;
    border-bottom: 1px solid $light_grey2;
  }
  .item-sell-name {
    margin-bottom: 15px;
  }
  .item-sell-name-default {
    height: 48px;
    width: 620px;
    text-align: left;
    padding: 0 10px;
    margin: 8px 0 0 0;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    &:focus {
      border: 1px solid #0099e8;
    }
  }
  .item-sell-text-default {
    height: 154px;
    width: 620px;
    text-align: left;
    padding: 10px;
    margin: 8px 0 0 0;
    outline: 0;
    border: 1px solid #cccccc;
    &:focus {
      border: 1px solid #0099e8;
    }
  }
  .detail{
    border-bottom: 1px solid $light_grey2;
    display: flex;
    justify-content: space-between;
  }
  
  .select-default,
  #item_category2,
  #item_category3,
  #item_size,
  #item_brand,
  #item_derivery_method,
  #item_prefecture_id{
    width: 400px;
    height: 48px;
    outline: 0;
    background-color: #ffffff;
    &:focus {
      border: 1px solid #0099e8;
    }
  }
  h3{
    margin: 0;
    font-weight: normal;
  }

  .item-sell-detail {
    position: absolute;
  }

  .fa-question-circle {
    position: relative;
    left: -50px;
    width: 14px;
    height: 14px;
    color: $blue;
  }

  .icon-bottom{
    margin: 8px 0 0 0;
  }
  .item-sell-clearfix-box-type{
    margin: 40px 0 0 0;
  }
  .item-sell-clearfix-box-street{
    margin: 40px 0 0 0;
    }
  .l-right-sell-price-input{
    position: relative;
    display: flex;
    left: 270px;
    bottom: 20px;
    }
  .input-default{
    position: relative;
    right:40px;
    width: 160px;
    height: 48px;
    bottom: 6px;
    &:focus {
      border: 1px solid #0099e8;
    }
  }
  .yen{
    position: relative;
    top: 10px;
    right: 10px;
  }
  .l-left{
    border-top:1px solid $grey;
    padding: 20px 0;
    width: 400px;
    font-weight: normal;
    
  }
  .haifun{
    position: relative;
    left:250px;
  }
  .l-right1 {
    border-top:1px solid $grey;
    padding: 20px 0;
    width: 400px;
    font-weight: bold;
  }
  .underber{
    position: relative;
    left:325px;
  }
  .sell-content{
    padding: 40px;
    font-size: 14px;
    height: 20px;
  }
  .sell-content a{
    color: $blue;
    text-decoration: none;
  }
  .sell-content a:hover{
    border-bottom:1px solid  $blue;
    color: #5CBEF0;
  }
  .botton{
    width: 620px;
    height: 170px;
    color: $red;
    margin: 0 auto;
    }
  .syuppin-botton{
  width: 620px;
  height: 50px;
  background-color: $red;
  color: $white;
  text-align: center;
  line-height: 50px;
  position: relative;
  top: 24px;
  }
  .back-botton{
    position: relative;
    top: 48px;
    width: 279px;
    height: 50px;
    background-color: #aaa;
    color: $white;
    text-align: center;
    line-height: 50px;
    margin: 0 auto;
  }
  a {
    text-decoration: none;
  }

  .money {
    display: flex;
    justify-content: space-between;
  }
}