.main-top 
  .advertisemens 
    .advertisement 
      %a{href: "#"} 
        %img.scroll-advertisement{src: "https://i.gyazo.com/9192b15b3c92a30aff8772d5b0b12d43.png"}/
  .nav
    %h2.popularity-category 人気のカテゴリー
    .categories
      %a.women.button{href: "#women"} レディース
      %a.men.button{href: "#men"} メンズ
      %a.appliance.button{href: "#appliance"} 家電・スマホ・カメラ
      %a.toy.button{href: "#toy"} おもちゃ・ホビー・グッズ
  .items-holders
    #women.item-title
      %h3.item-title-women レディース新着アイテム
      %a.see-more{href: "#"} もっと見る＞
    .holder
      .items-images
        %ul.images
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
    #men.item-title
      %h3.item-title-men メンズ新着アイテム
      %a.see-more{href: "#"} もっと見る＞
    .holder
      .items-images
        %ul.images
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
    #appliance.item-title
      %h3.item-title-appliance 家電・スマホ・カメラ新着アイテム
      %a.see-more{href: "#"} もっと見る＞
    .holder
      .items-images
        %ul.images
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
    #toy.item-title
      %h3.item-title-toy おもちゃ・ホビー・グッズ新着アイテム
      %a.see-more{href: "#"} もっと見る＞
    .holder
      .items-images
        %ul.images
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
  .nav
    %h2.popularity-category 人気のブランド
    .categories
      %a.women.button{href: "#chanel"} シャネル
      %a.men.button{href: "#louisvuitton"} ルイヴィトン
      %a.appliance.button{href: "#supreme"} シュプリーム
      %a.toy.button{href: "#nike"} ナイキ
  .items-holders
    #chanel.item-title
      %h3.item-title-chanel シャネル新着アイテム
      %a.see-more{href: "#"} もっと見る＞
    .holder
      .items-images
        %ul.images
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
    #louisvuitton.item-title
      %h3.item-title-louisvuitton ルイヴィトン新着アイテム
      %a.see-more{href: "#"} もっと見る＞
    .holder
      .items-images
        %ul.images
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
    #supreme.item-title
      %h3.item-title-supreme シュプリーム新着アイテム
      %a.see-more{href: "#"} もっと見る＞
    .holder
      .items-images
        %ul.images
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
    #nike.item-title
      %h3.item-title-nike ナイキ新着アイテム
      %a.see-more{href: "#"} もっと見る＞
    .holder
      .items-images
        %ul.images
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
          %li.image
            .product
              %a.product-image{href: "#"}
                .product-card
                  %span.product-price $ 1000
                  %img.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                  .product-description
                    %span ワンピース
