.wrapper-item-selling {
  background-color: $light_grey1;
  .form {
    width: 700px;
    margin: 0 auto;
    background-color: $white;
    &__top {
      border-bottom: 1px solid #eeeeee;
      font-size: 22px;
      font-weight: bold;
      padding: 32px 16px;
      text-align: center;
    }
    &__bottom {
      &__item-image {
        padding: 40px;
        border-bottom: 1px solid #eeeeee;
        .image-form {
          .label {
            font-weight: bold;
            font-size: 16px;
          }
          span {
            background-color: #ea352d;
            padding: 3px 4px;
            border-radius: 2px;
            color: $white;
            font-weight: normal;
            font-size: 12px;
            height: 19px;
            margin-left: 6px;
          }
          h3 {
            font-size: 14px;
            margin: 8px 0 0;
          }
          .box {
            margin: 15px 0 0;
            .image-field {
              height: 162px;
              width: 620px;
              background-color: $light_grey1;
              border: 1px dashed #ccc;
            }
          }
        }
      }
      &__item-overview {
        padding: 40px;
        border-bottom: 1px solid #eeeeee;
      }
    }
  }

}
.is-hidden1,
.is-hidden2,
.is-hidden3,
.is-hidden4 {
  display: none;
}

.is-show {
  display: block;
}
