.l-content {
    width: 700px;
    margin: 0 auto;
    }
    .l-chapter-container{
    background-color: white;
    padding: 40px;
    
    }
    .btn-red{
        background-color: red;
        color: white;
        height:50px;
        width:343px;
        margin: 0 auto;
        display: block;
        font-size: 14px;
    }