.l-content {
  width: 700px;
  height: 400px;
  margin: 0 auto;
  border: 1px solid #f2f2f2f2;
}

.l-header {
  height: 50px;
  text-align: center;
  color: #333333;
  padding: 8px 24px;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid $light_grey1;
}

.l-main__container {
  margin: 0 auto;
}

.l-main {
  height: 200px;
  padding: 64px 64px 0 64px;
}

.l-main__header {
  margin-left: 120px;
}

h3 {
  font-weight: bold;
}

.l-main__cont {
  margin: 0 auto;
  padding-bottom: 44px;
  border-bottom: 1 solid #f2f2f2;
}

.submit_btn {
  background-color: #ea352D;
  color: $white;
  width: 350px;
  height: 50px;
  margin: 20px auto 0;
  font-size: 14px;
  display: block;
}



.info {
  color: #1488E4;
  margin-left: 500px;
}
