.mypage-side-bar{
  margin: 0 auto 0;
  float: left;
  background-color:$whitesmoke;
  width: 280px;
    &__list{
      li{
        border-top: 1px solid $light_grey2;
        &:first-child {
          border: 0;
        }
      }
    }
    &__list-item{
      position: relative;
      display: block;
      min-height: 48px;
      padding: 16px;
      background: $white;
      font-size: 14px;
      color: black;
      box-sizing: border-box;
      line-height: 14px;
      text-decoration: none;
      .fa-chevron-right{
        position: absolute;
        top: 35%;
        right: 16px;
        color: $whitesmoke;
        }
      &--active{
        background: $light_grey2;
        font-weight: 600;
      }
      &--active:hover{
        background: $light_grey2;
      }
    }
    &__list-item:hover {
      background-color: $whitesmoke;
      .fa-chevron-right {
        color: black;
        transform: translateX(50%);
        transition: 0.5s;
        -webkit-transform: translateX(50%);
        -moz-transform: translateX(50%);
        -ms-transform: translateX(50%);
        -o-transform: translateX(50%);
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
}
    }
    &__nav-head{
      margin-top: 40px;
      font-size: 16px;
      padding: 16px;
      font-weight: 600;
      &.mypage-side-bar__list {
        margin-top: 8px;
      }
    }
  }