.l-content-tab {
  width: 700px;
  font-weight: bold;
  float: right;
}
.tab-container {
  background-color: #f9f9f9;
}

.tab-header {
  height: 72px;
  line-height: 72px;
  font-weight: bold;
  padding: 0 16px;
}

.tab-group {
  display: flex;
  justify-content: space-between;
}
.tab {
  list-style: none;
  text-align: center;
  cursor: pointer;
  width: 100%;
  background-color: #EAEAEA;
  height: 74px;
  line-height: 74px;
}
.tab-content {
  background-color: $white;
}
.panel {
  display: none;
  list-style: none;
  color: #EAEAEA;
  text-align: center;
}

.tab-logo {
  width: 150px;
  height: 150px;
}

.tab.is-active {
  background-color: $white;
  border-top: 2px solid #E31D23;
}
.panel.is-show {
  display: block;
}

.panel-container {
  font-weight: normal;
  color: black;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  background-color: #f9f9f9;
  .image-text {
    width: 100px;
    margin: 0;
    .panel-message-item-name {
      color: #000000;
    }
  }
  .next-page {
    display: inline-block;
  }
}

.panel-container-c {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  .image-text {
    width: 100px;
    .panel-message-item-name {
      color: #000000;
    }
  }
  .next-page {
    display: inline-block;
    line-height: 122px;
    .pager-next {
      position: relative;
      top: 40px;
      .fa-chevron-right {
        position: relative;
        bottom: 50px;
      }
    }
  }
}


.panel.is-show > .panel-container {
  display: block;
}

.is-show {
  p {
    display: inline;
  }
}

.pager {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 0 0;
}

.panel-content h5 {
  font-weight: bold;
}

.pager-prev,
.pager-next {
  width: 42px;
  height: 42px;
  border: 1px solid $grey;
  text-align: center;
  border-radius: 5px;
  display: block;
}


.fa-chevron-left,
.fa-chevron-right {
  color: #262626;
  vertical-align: -10px;
}

.panel-image {
  height: 100px;
  width: 100px;
}

.panel-message {
  font-size: nomal;
  margin-left: 10px;
}

.panel.tab-A.is-show {
  padding: 10px;
  color: #000000;
}

.panel.tab-B.is-show {
  padding: 10px;
  color: #000000;
}

.panel.tab-C.is-show {
  padding: 10px;
  color: #000000;
}

