
<body>
  <div class="item">
    <div class="item-content">
      <div class="item-chapter-container">商品の情報を入力
      </div>
      <form>
        <div class="item-image">
          <div class="item-image-upload">
            <h3 class="item-image-upload-character">出品画像
            <span class="item-image-upload-require">必須
            </span>
            </h3>
            <p>最大10枚までアップロードできます</p>
            <label>
              <div class="item-image-drop" style="cursor: pointer;">
                <p style="font-weight: bold; position: relative; top: 40px; cursor: pointer;">ドラックアンドドロップ<br>またはクリックしてファイルをアップロード。</p>
                <input type="file" style="display: none;">
              </div>
            </label>
          </div>
        </div>
        <div class="item-sell">
          <div class="item-sell-name">
            <label>商品名
              <span class="item-image-upload-require">必須
              </span>
            </label>
            <div>
              <input class="item-sell-name-default" value placeholder="商品名(必須４０字まで)">
            </div>
          </div>
          <div class="item-sell-text">
            <label>
              商品の説明
              <span class="item-image-upload-require">必須
              </span>
            </label>
            <div>
              <textarea class="item-sell-text-default" value placeholder="商品名(必須４０字まで)">
              </textarea>
            </div>
          </div>
        </div>
        <div class="item-sell detail">
          <h3 class="item-image-upload-character">商品の詳細</h3>
          <div class="item-sell-clearfix-box">
              <div class="item-sell-clearfix-box-group">
                <label>カテゴリー
                  <span class="item-image-upload-require">必須
                  </span>
                </label>
              <div>
                <div class="item-sell-clearfix-box-wrap">
                  <i class="icon-bottom"></i>
                  <select class="select-default">
                    <option value>---</option>
                    <option value="1">レディース</option>
                    <option value="2">メンズ</option>
                    <option value="3">ベビー•キッズ</option>
                    <option value="4">インテリア•住まい•小物</option>
                    <option value="5">本•音楽•ゲーム</option>
                    <option value="50">おもちゃ•ホビー•グッズ</option>
                    <option value="6">コスメ•香水•美容</option>
                    <option value="7">家電•スマホ•カメラ</option>
                    <option value="8">スポーツ•レジャー</option>
                    <option value="9">ハンドメイド</option>
                    <option value="90">チケット</option>
                    <option value="91">自動車•オートバイ</option>
                    <option value="10">その他</option>
                  </select>
                </div>
              </div>
          <div class="item-sell-clearfix-box-type">
            <label>商品の状態
              <span class="item-image-upload-require">必須
              </span>
            </label>
            <div>
              <div class="item-sell-clearfix-box-wrap">
                <i class="icon-bottom"></i>
                <select class="select-default">
                  <option value>---</option>
                  <option value="1">新品、未使用</option>
                  <option value="2">未使用に近い</option>
                  <option value="3">目立った傷や汚れなし</option>
                  <option value="4">やや傷や汚れあり</option>
                  <option value="5">傷や汚れあり</option>
                  <option value="6">全体的に状態が悪い</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item-sell detail">
      <h3 class="item-image-upload-character">配送について</h3>
      <a href="" target="_blank" class="form-question">?</a>
      <div class="item-sell-clearfix-box">
        <div class="item-sell-clearfix-box-money">
          <label>配送料の負担
            <span class="item-image-upload-require">必須
            </span>
          </label>
          <div>
            <div class="item-sell-clearfix-box-wrap">
              <i class="icon-bottom"></i>
              <select class="select-default">
                <option value>---</option>
                <option value="1">送料込み(出品者負担)</option>
                <option value="2">着払い(購入者負担)</option>
              </select>
            </div>
          </div>
        </div>
      <div class="item-sell-clearfix-box">
        <div class="item-sell-clearfix-box-street">
          <label>発送元の地域
            <span class="item-image-upload-require">必須
            </span>
          </label>
            <div class="item-sell-clearfix-box-wrap">
              <i class="icon-bottom"></i>
              <select class="select-default">
                <option value>---</option>
                <option value="1">北海道</option>
                <option value="2">青森県</option>
                <option value="3">岩手県</option>
                <option value="4">宮城県</option>
                <option value="5">秋田県</option>
                <option value="6">山形県</option>
                <option value="7">福島県</option>
                <option value="8">茨城県</option>
                <option value="9">栃木県</option>
                <option value="10">群馬県</option>
                <option value="11">埼玉県</option>
                <option value="12">千葉県</option>
                <option value="13">東京都</option>
                <option value="14">神奈川県</option>
                <option value="15">新潟県</option>
                <option value="16">富山県</option>
                <option value="17">石川県</option>
                <option value="18">福井県</option>
                <option value="19">山梨県</option>
                <option value="20">長野県</option>
                <option value="21">岐阜県</option>
                <option value="22">静岡県</option>
                <option value="23">愛知県</option>
                <option value="24">三重県</option>
                <option value="25">滋賀県</option>
                <option value="26">京都府</option>
                <option value="27">大阪府</option>
                <option value="28">兵庫県</option>
                <option value="29">奈良県</option>
                <option value="30">和歌山県</option>
                <option value="31">鳥取県</option>
                <option value="32">島根県</option>
                <option value="33">岡山県</option>
                <option value="34">広島県</option>
                <option value="35">山口県</option>
                <option value="36">徳島県</option>
                <option value="37">香川県</option>
                <option value="38">愛媛県</option>
                <option value="39">高知県</option>
                <option value="40">福岡県</option>
                <option value="41">佐賀県</option>
                <option value="42">長崎県</option>
                <option value="43">熊本県</option>
                <option value="44">大分県</option>
                <option value="45">宮崎県</option>
                <option value="46">鹿児島県</option>
                <option value="47">沖縄県</option>
              </select>
            </div>
          </div>
        </div>
      <div class="item-sell-clearfix-box">
        <div class="item-sell-clearfix-box-street">
          <label>発送までの日数
            <span class="item-image-upload-require">必須
            </span>
          </label>
          <div>
            <div class="item-sell-clearfix-box-wrap">
              <i class="icon-bottom"></i>
              <select class="select-default">
                <option value>---</option>
                <option value="1">１〜２日で発送</option>
                <option value="2">２〜３日で発送</option>
                <option value="3">４〜７日で発送</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="item-sell money">
  <h3 class="item-image-upload-character">販売価格(300~9,999,999)</h3>
<a href="" target="_blank" class="form-question">?</a>
  <div class="item-sell-form-box">
    <ul class="item-sell-price">
      <div class="item-sell-form-group">
        <div class="item-sell-form-clearfix">
          <label class="l-money">価格
              <span class="item-image-upload-require">必須
              </span>
            </label>
          <label class="l-right-sell-price-input">
            <div class="yen">¥</div>
              <input class="input-default" value placeholder="例)300">
          </label>
        </div>
      </div>
      <div class="clearfix">
        <div class="l-left">
          販売手数料（10%）<span class="haifun">-</span>
        </div>
      </div>
        <div class="clearfix bold">
          <div class="l-right">販売利益<span class="underber">_</span></div>
      </ul>
    </div>
  </div>
<div class="modal" role="dialog" tabindex="-1">
  <div class="modem-inner"></div>
</div>
<div class="sell-content sell-btn-box">
  <a href="#">禁止されている出品</a>、
  <a href="#">行為</a>を必ずご確認ください。
  またブランド品でシリアルナンバー等がある場合はご記載ください。<a href="#">偽ブランドの販売</a>は犯罪であり処罰される可能性があります。
  また、出品をもちまして<a href="#">加盟店規約</a>に同意したことになります。
</div>
<a href= "#">
  <div class="syuppin-botton">出品する</div>
  </a>
<a href= "#">
  <div class="back-botton">もどる</div>
  </a>
    </form>
  </div>
</div>
</body>
